@import "../../constants/styleConstants";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  width: calc(100vw - 588px);
}

.header__logo {
  margin-left: 40px;
  width: 142px;
  height: 32px;
  cursor: pointer;
}

.header__container {
  margin-right: 40px;
  width: 294px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include font500;
  font-size: 14px;
  line-height: 18px;
}

.header__question {
  font-weight: 400;
  text-align: right;
  color: $grey-color;
}

.header__button {
  border-radius: 6px;
  min-height: 36px;
  padding: 9px 12px;
  background-color: $light-color;
  border: 1px solid $border-color;
  @include font500;
  font-size: 14px;
  line-height: 18px;
  color: $dark-color;
}

@media screen and (max-width: $tablet) {
  .header {
    width: calc(100vw);
    height: 66px;
  }
  .header__container {
    flex-direction: column-reverse;
    width: 150px;
    margin-top: 12px;
    margin-right: 16px;
    row-gap: 4px;
  }
  .header__logo {
    margin-left: 16px;
    width: 89px;
    height: 20px;
  }
}