@import "../../constants/styleConstants.scss";

.main-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.filters__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.filters {
    display: flex;
    flex-direction: column;
}

.filters__title {
    @include font500;
    font-size: 34px;
    line-height: 40px;
    color: $dark-color;
}

.filters__items-count {
    @include font400;
    margin-left: 20px;
    align-self: end;
    font-size: 14px;
    line-height: 18px;
    color: $grey-color;
    margin-bottom: 4px;
}

.sorted-title {
    @include font500;
    margin-left: 20px;
    font-size: 14px;
    line-height: 18px;
    color: $grey-color;
}

.popular-title {
    @include font500;
    font-size: 14px;
    line-height: 18px;
    color: $dark-color;
}

.filters__hide {
    display: flex;
    margin-right: 32px;
    .filters__hide-title {
        @include font500;
        font-size: 14px;
        line-height: 18px;
        margin-right: 10px;
        color: $dark-color;
    }
}

.cards__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    column-gap: 20px;
    row-gap: 40px;
}


.buttons__container {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 317px;
}

.filters__button {
    @include font500;
    border: none;
    background-color: $light-color;
    width: 297px;
    font-size: 16px;
    line-height: 20px;
    color: $dark-color;
    text-align: left;
    cursor: pointer;
    margin: 6px 0;
}

.filters__button_active {
    color: $button-color;
}

.accordeons_container .MuiCollapse-root .MuiCollapse-wrapper .MuiCollapse-wrapperInner .MuiAccordion-region {
    padding: 0;
}

.accordeons_container .MuiPaper-root .MuiAccordionSummary-root {
    border-top: none;
    padding: 0;
}

.MuiCollapse-root .MuiCollapse-wrapper .MuiCollapse-wrapperInner .MuiAccordion-region .MuiAccordionDetails-root{
    border-top: none;
    padding: 16px 0 20px;
}


.filters-summary__container {
    display: flex;
    flex-direction: column;
    
}

.filters-summary__title {
    @include font500;
    font-size: 20px;
    line-height: 28px;
    color: $dark-color;
    margin: 20px 0 16px;
}

.filters-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 20px;
}