@import "../../constants/styleConstants.scss";

.main-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.filters__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.filters {
    display: flex;
    flex-direction: column;
}

.filters__title {
    @include font500;
    font-size: 34px;
    line-height: 40px;
    color: $dark-color;
}

.filters__items-count {
    @include font400;
    margin-left: 20px;
    align-self: end;
    font-size: 14px;
    line-height: 18px;
    color: $grey-color;
    margin-bottom: 4px;
}

.sorted-title {
    @include font500;
    margin-left: 20px;
    font-size: 14px;
    line-height: 18px;
    color: $grey-color;
}

.popular-title {
    @include font500;
    font-size: 14px;
    line-height: 18px;
    color: $dark-color;
}

.filters__hide {
    display: flex;
    margin-right: 32px;
    .filters__hide-title {
        @include font500;
        font-size: 14px;
        line-height: 18px;
        margin-right: 10px;
        color: $dark-color;
    }
}

.cards__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    column-gap: 20px;
    row-gap: 40px;
}

.moment__card {
    display: flex;
    flex-direction: column;
    width: 325px;
    min-height: 362px;
}

.moment__card-wrapper {

    background-color: $main-page-background-color;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moment__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 24px 24px -16px rgba(22, 28, 30, 0.2);
    border-radius: 8px;
}

.moment__discription {
    margin-top: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.moment__announcement{
    @include font500;
    font-size: 16px;
    line-height: 20px;
    color: $button-color;
    margin-bottom: 4px;
}

.moment__title {
    @include font500;
    font-size: 16px;
    line-height: 20px;
    color: $dark-color;
}

.moment__footer {
    margin-top: 8px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.moment__price {
    @include font400;
    font-size: 16px;
    line-height: 20px;
    color: $dark-color;
}

.moment__likes {
    @include font500;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: $grey-color;
}

.buttons__container {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 317px;
}

.filters__button {
    @include font500;
    border: none;
    background-color: $light-color;
    width: 297px;
    font-size: 16px;
    line-height: 20px;
    color: $dark-color;
    text-align: left;
    cursor: pointer;
    margin: 6px 0;
}

.filters__button_active {
    color: $button-color;
}

.accordeons_container .MuiCollapse-root .MuiCollapse-wrapper .MuiCollapse-wrapperInner .MuiAccordion-region {
    padding: 0;
}

.accordeons_container .MuiPaper-root .MuiAccordionSummary-root {
    border-top: none;
    padding: 0;
}

.MuiCollapse-root .MuiCollapse-wrapper .MuiCollapse-wrapperInner .MuiAccordion-region .MuiAccordionDetails-root{
    border-top: none;
    padding: 16px 0 20px;
}